body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(112, 140, 38, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
header{
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    height: 500px;
    width: 500px;
    border: 5px whitesmoke solid;
    border-radius: 3%;
    padding: 1rem 2rem;
}
.viewscreen{
    height: 150px;
    border: 5px ridge whitesmoke;
    border-radius: 5%;
}
table{
    height: 70%;
    border: 5px ridge whitesmoke;
    border-radius: 5%;
}